
#page3_main{
    margin-top: 130px;
}
    

#section3{
    width: 1680px;
    padding:0 117px 0 177px;
    display: flex;
}

#section3 #art_img{
    width: 756px;
    margin-right: 70px;
}
#section3 #art_img .div_art{
    width: 765px; height: 765px;
    
}
#section3 #art_img .div_art img{
    width: 100%; height: 100%;
    margin: 0 auto;
}

#section3 #art_text_wrap{
    color: white;
}

#section3 #art_text_wrap .art_text{
    height: 756px;
    padding: 5px;
}
#art_text_wrap .div_des_title{
    margin-bottom:52px;
}
#art_text_wrap .div_des_title h4{
    font-size: 40px;
    font-weight: bold;
}
#art_text_wrap .div_des_title span{
    font-size: 20px;
}

#art_text_wrap .div_des .div_des_text{
    font-size: 30px;
}